<!--
  Generated template for the DishdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Dish Details</ion-title>
    <ion-buttons end>
      <button ion-button ion-text color="#fff" (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
    <ion-col col-12 col-lg-5>
  <ion-card *ngIf="dish">
    <img src="{{BaseURL + dish.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{dish.name | uppercase}}
      </ion-card-title>
      <p>
        {{dish.description}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="star"></ion-icon>
          <div>{{ avgstars }} stars</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ numcomments }} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <div [hidden]="dish || errMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  </ion-col>
  
  <ion-col col-12 col-lg-5>
  <ion-list *ngIf="dish">
    <ion-list-header>
      Comments
    </ion-list-header>
    <ion-item *ngFor="let comment of dish.comments" text-wrap>
      <h4> {{comment.comment}} </h4>
      <p> {{comment.rating}} Stars</p>
      <p>
        <span> -- {{comment.author}} {{comment.date | date }} </span>
      </p>
    </ion-item>
  </ion-list>
  <ion-fab bottom right [hidden]="favorite">
    <button ion-fab (click)="addToFavorites()">
      <ion-icon name="heart-outline"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right *ngIf="favorite">
    <button ion-fab>
      <ion-icon name="heart"></ion-icon>
    </button>
  </ion-fab>
</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
